<%= form_with(model: article, local: true, html: { multipart: true }) do |form| %>
  <% if errors %>
    <div id="error_explanation">
      <h2><%= pluralize(errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% errors.each do |key, messages| %>
        <li><%= "#{key} #{messages.join(', ')}" %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="attachments">
    <%= form.label :attachments %>
    <% article && article.attachments.each do |attachment|%>
      <div>
        <%= image_tag attachment.variant(resize: '100x100') %>
        <%= link_to 'Remove', article_delete_attachment_url(@article.id, attachment),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>

  <%= form.file_field :attachments, multiple: true %>

  <div class="actions">
    <%= form.submit 'Save as drafts' %>
    <%= form.submit 'Submit', name: 'state' %>
  </div>
<% end %>
