<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table id="records_table" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'page_items' %>
  </tbody>
</table>

<div id="div_next_link">
  <%= render partial: 'next_link' %>
</div>

<%= link_to 'New Article', new_article_path %>
<%= link_to 'My Articles', my_articles_path %>
<%= link_to 'Publish Articles', articles_to_publish_path %>

<% content_for :page_scripts do %>
<script>
  function loadNextPage() {
    if ($('#next_link').data("loading")) {
      return;
    }
    // prevent multiple loading
    const wBottom = $(window).scrollTop() + $(window).height();
    const elBottom = $('#records_table').offset().top + $('#records_table').height();

    if (wBottom > elBottom) {
      const nextLink = $('#next_link');
      if (nextLink.length === 0) {
        return;
      }
      nextLink[0].click();
      nextLink.data("loading", true);
    }
  };

  document.addEventListener('resize', loadNextPage);
  document.addEventListener('scroll', loadNextPage);
  document.addEventListener('load', loadNextPage);
</script>
<% end %>