<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Attachment:</strong>
  <% @article.attachments.each do |attachment|%>
    <%= image_tag attachment.variant(resize: '100x100') %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form', article: @article %>

<% if @page == 'publish' %>
  <%= link_to 'Publish', edit_article_path(@article) %>
<% elsif @page == 'my-articles' %>
    <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
<%= link_to 'Back', @page_back %>
